<html>

<head>
    <title>{%block title_block%}SocialWeaver{%endblock%}</title>
    {%include 'css.html'%}
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'main_home' %}" class="brand-logo">SocialWeaver</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'company:dashboard' %}">{{user.username}}</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {%else%}
                <li>
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </li>
                <li><a href="#!">Claim Your Listing</a></li>
                <li><a href="{% url 'account_signup' %}">Signup</a></li>
                <li><a href="{% url 'account_login' %}">Signin</a></li>
                {%endif%}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% include 'message.html'%} {%block content%} {%endblock%}
    </div>
</body>
{% block extra_js %} {% endblock %}

</html>
