{% extends 'vendor_base.html'%} {%load static%} {%block content%}
<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a target="_self" href="{% url 'company:package' %}"><span class="blue-text">Packages
                </span></a></li>
                <li class="tab col s3"><a class="active" href="#events"><span class="blue-text text-darken-4">Events</span></a></li>
            </ul>
        </div>
        <div id="events" class="col s12">
            {% if events%}
            <div class="row">
                {% for event in events%}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class="package_image" src="{{event.image.url}}">
                            <span class="card-title">{{event.name}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{event.description}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'company:event_edit' event.id %}">Edit</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
            {%else%}
            <h2>No events Found</h2> {%endif%}
        </div>
    </div>
    <div class="fixed-action-btn">
        <a href="#eventmodal" class="btn-floating btn-large waves-effect waves-light blue darken-2"><i class="material-icons">add</i></a>
    </div>
    <!-- Modal Structure -->
    <div id="eventmodal" class="modal">
        <div class="modal-content">
            <form action="{% url 'company:event' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token%}
                <div class="row">
                    <div class="col m6">
                        <div class="input-field col m12">
                            {{Eventform.name}} {{Eventform.name.label_tag}}
                        </div>
                        <div class="input-field col m12">
                            {{Eventform.description}} {{Eventform.description.label_tag}}
                        </div>
                        <div class="input-field col m8">
                            {{Eventform.price}} {{Eventform.price.label_tag}}
                        </div>
                    </div>
                    <div class="col m6 center-align">
                        <div class="col m12">
                            <img id="package_image_preview" src="{% static 'img/no-image.png' %}" alt="">
                        </div>
                        <div class="file-field input-field col m12">
                            <div class="btn blue darken-2">
                                <span class="white-text">Upload Event Image</span>
                                <input type="file" name="image" onchange="Imagethumb(this)">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="input-field col m4">
                        <input type="date" name="date" class="datepicker" required="true">
                        <label for="date">Date</label>
                    </div>
                    <div class="input-field col m4">
                        <input placeholder="Start Time" id="timepicker" class="timepicker" name="start_time" type="time" required="true">
                    </div>
                    <div class="input-field col m4">
                        <input id="timepicker" placeholder="End Time" class="timepicker" name="end_time" type="time" required="true">
                    </div>
                    <div class="input-field col m12">
                        <label id="serve_to" for="serves_to">Serves To:</label>
                    </div>
                    <div class="input-field col m4">
                        {{Eventform.is_child}} {{Eventform.is_child.label_tag}}
                    </div>
                    <div class="input-field col m4">
                        {{Eventform.is_parent}} {{Eventform.is_parent.label_tag}}
                    </div>
                    <div class="input-field col m4">
                        {{Eventform.is_adult}} {{Eventform.is_adult.label_tag}}
                    </div>
                    <div class="input-field col m12">
                        <label for="serve_type">Serve Type:</label>
                    </div>
                    {% for serve in Eventform.serves_type%}
                    <div class="input-field col m2">{{ serve.tag }}
                        <label for="{{ serve.id_for_label }}">
                            {{ serve.choice_label }}
                        </label>
                    </div>
                    {%endfor%}
                </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close modal-action waves-effect waves-green btn-flat">Cancel
                </a>
            <button href="#!" class="modal-action waves-effect waves-green btn-flat">Submit
            </button>
        </div>
        </form>
    </div>
</div>
</div>
{%endblock%} {% block extra_js%}
<script>
function Imagethumb(input) {
    var reader = new FileReader();
    reader.onload = function(e) {
        $('#package_image_preview').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
}
$(document).ready(function() {
    $('ul.tabs').tabs();
    $('.modal').modal();
    $('select').material_select();
    $('#id_image').removeAttr('required');
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    $('.timepicker').pickatime({
        autoclose: false,
        twelvehour: false,
        default: 'now'
    });
});
</script>
{%endblock%}
