{% extends 'vendor_base.html'%} {%load static%} {%block content%}
<style>
#eventmodal{
    width: 901px;
    min-height: 580px;
    top: 4% !important;
}
</style>
<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a target="_self" href="{% url 'company:package' %}">Packages</a></li>
                <li class="tab col s3"><a class="active" href="#events">Events</a></li>
            </ul>
        </div>
        <div id="events" class="col s12">
            {% if events%}
            <div class="row">
                {% for event in events%}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class="package_image" src="{{event.image.url}}">
                            <span class="card-title">{{event.name}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{event.description}}</p>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
            {%else%}
            <h2>No events Found</h2> {%endif%}
        </div>
    </div>
    <a href="#eventmodal" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    <!-- Modal Structure -->
    <div id="eventmodal" class="modal">
        <div class="modal-content">
            <form action="{% url 'company:event' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token%}
                <div class="row">
                    <div class="input-field col m12">
                        {{Eventform.name}} {{Eventform.name.label_tag}}
                    </div>
                    <div class="input-field col m12">
                        {{Eventform.description}} {{Eventform.description.label_tag}}
                    </div>
                    <div class="input-field col m6">
                        {{Eventform.price}} {{Eventform.price.label_tag}}
                    </div>
                    <div class="clearfix"></div>
                    <div class="col m12">
                        <label for="serves_to">Serves To:</label>
                    </div>
                    <div class="input-field col m4">
                        {{Eventform.is_child}} {{Eventform.is_child.label_tag}}
                    </div>
                    <div class="input-field col m4">
                        {{Eventform.is_parent}} {{Eventform.is_parent.label_tag}}
                    </div>
                    <div class="input-field col m4">
                        {{Eventform.is_adult}} {{Eventform.is_adult.label_tag}}
                    </div>
                    <div class="input-field col m12">
                        <label for="serve_type">Serve Type:</label>
                        <br> {% for serve in Eventform.serves_type%} {{ serve.tag }}
                        <label for="{{ serve.id_for_label }}">
                            {{ serve.choice_label }}
                        </label>
                        {%endfor%}
                    </div>
                    <div class="clearfix"></div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span class="white-text">Images</span> {{Eventform.image}}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload Package Image">
                        </div>
                    </div>
                </div>
                <button href="#!" class="modal-action waves-effect waves-green btn-flat">Agree
                </button>
            </form>
        </div>
    </div>
</div>
{%endblock%} {% block extra_js%}
<script>
$(document).ready(function() {
    $('ul.tabs').tabs();
    $('.modal').modal();
    $('select').material_select();
    $('#id_image').removeAttr('required');
});
</script>
{%endblock%}
