{%extends 'base.html'%} {% load static%} {% block content%}
<div class="row">
    <h5 class="left-align">Singapore's Best</h5> {%if singapore_best_companies%} {%else%}
    <h4 class="center-align">No Companies Present</h4> {%endif%}
</div>
<div class="row">
    <h5 class="left-align">Showcase</h5> {% if showcase_companies%} {% for company in showcase_companies%}
    <div class="col m4">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/no-image.png' %}">
                <a href="{{company.get_absolute_url}}"><span class="card-title">{{company.name}}</span></a>
            </div>
            <div class="card-content">
                <p>{{company.description}}</p>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#contact">Contact</a></li>
                        <li class="tab"><a href="#address">Address</a></li>
                    </ul>
                </div>
                <div class="card-content">
                    <div id="contact">
                        {{company.mobile}} {{company.website}}
                    </div>
                    <div id="address">{{company.address}}</div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%} {%else%}
    <h4 class="center-align">No Companies Present</h4> {%endif%}
</div>
<div class="row">
    <h5 class="left-align">Upcoming Events</h5> {%if upcoming_events%} {% for event in upcoming_events%}
    <div class="col m4">
        <div class="card">
            <div class="card-image">
                <img src="{{event.image.url}}">
                <a href="#!"><span class="card-title">{{event.name}}</span></a>
            </div>
            <div class="card-content">
                <p>{{event.description}}</p>
                <p>{{event.date}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h4 class="center-align">No Upcoming Events</h4> {%endif%}
</div>
{% endblock%}
