{% load static%}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'libs/materialize/js/materialize.min.js' %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBPI5c6pnhdbcpVP31q03eq_kIbDRfynTk"></script>
<script src="{% static 'js/jquery.geocomplete.min.js' %}"></script>
<script src="{% static 'js/picker.js' %}"></script>
<script src="{% static 'js/picker.date.js' %}"></script>
<script src="{% static 'js/picker.time.js' %}"></script>
